AWS_REGION=us-east-1
ENVIRONMENT=dev
PROJECT_NAME=aws-data-quality-governance
RAW_S3_BUCKET=aws-data-quality-governance-dev-raw
CURATED_S3_BUCKET=aws-data-quality-governance-dev-curated
QUARANTINE_S3_BUCKET=aws-data-quality-governance-dev-quarantine
GLUE_DATABASE_NAME=aws_data_quality_governance_dev_customers
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:aws-data-quality-governance-dev-alerts
MARQUEZ_URL=http://localhost:8080
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/mock/webhook
